.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 180px;
  }
}

.logo img {
  max-height: 26px;
  margin-right: 1px;
}

.logo span {
  font-size: 26px;
  font-weight: 700;
  color: #e6520d;
  font-family: "Nunito", sans-serif;
}
